
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monda:wght@400..700&display=swap');

html, body {
    scroll-behavior: smooth;
    overflow-y: auto;
}

.bebasFont {
    font-family: "Bebas Neue";
}

.mondaFont {
    font-family: "Monda";
}

.ativo {
    display: flex;
}

.desativado {
    display: none;
}